html, body {
    height: 100%;
    overflow: hidden;
}

form, input, button {
    border-radius: 25px;
    border-style: outset;
    padding: 5px ;
    background-color: white;
}

form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    background-color: lightblue;
    width: 50%;
    margin: auto;
}
button {
    padding: 10px;
}

button:hover {
    cursor: pointer;
    background-color: gray;
}

button:active { 
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    box-shadow: inset 0px 0px 5px rgb(10, 16, 29);
}

input {
    text-align: right;
    background-color: white;
    grid-column: 1 / 5;
}

@keyframes flash {
    0% {
        color: white;
        background-color: black;
    }
    5% {
        color: black;
        background-color: #9999DD;
    }
    10% {
        color: white;
        background-color: black;
    }
    12% { 
        color: black;
        background-color: #CCCCFF;
    }
    100% {
        color: white;
        background-color: #000033;
    }
}

/*
Project objectives
*Build a single page site using HTML and CSS
*Manage a local git repository
Host a project on GitHub pages

Project requirement
Make a minimum of six commits.
Host site on GitHub pages
*Use an external CSS stylesheet for styling 
*Use a grid-based layout for the calculator. Do not use table elements.
*Center the calculator on the page 
*When hovering over a button, the cursor should change to a hand rather than an arrow
*When hovering over a button, the button should change color
*Must include an <input> element. *<form> and <label> elements are not required.
*/